<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<html>
    <title>Ninja Day Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        html {
            background-image: linear-gradient(#0095ff, #9ed7ff);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        h1, h3 {
            text-align: center;
        }
        p {
            color: black;
            font-size: 14px;
        }
        li {
            font-size: 14px;
        }
        form > div {
            margin-bottom: 20px;
        }

        button, label, input, select {
            display: block;
            font-size: 100%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            height: 30px;
        }

        select {
            -webkit-appearance: none;
            appearance: none;
        }

        .select-wrapper {
            position: relative;
        }

        .select-wrapper::after {
            content: "▼";
            font-size: 1rem;
            top: 6px;
            right: 10px;
            position: absolute;
        }

        input[type="text"], select {
            box-shadow: inset 1px 1px 3px #ccc;
            border-radius: 5px;
        }

        label {
            margin-bottom: 5px;
        }

        button {
            width: 60%;
            margin: 0 auto;
        }
        label{
            font-weight: bold;
        }
        p {
            font-size: 16px;
        }
    </style>
    <head>
        <h1>Ninja Day Signup</h1>
        <h3>
            <ul style="text-align: center;">
                <li>$50 per person</li>
                <li>Pizza and Drinks are included</li>
                <li>Learn to battle and become the ultimate ninja!!</li>
            </ul>
        </h3>
    </head>
    <body>
        <p><strong>Ninja Day Spots</strong></p>
        <ul>
            <li>9:00 AM &mdash; 3:00 PM (<%= 25 - classes[0].count %> spaces remaining)</li>
        </ul>
        <br>
        <form action="/store/board_breaking_post" name="form" method="POST">
            <div>
                <label for="student">Student:</label>
                <input type="text" id="student" name="student" required placeholder="Student's name">
            </div>
            <br>
            <div>
                <label for="select">Select time:</label>
                <% if (classes[0]) { %>
                    <% if (classes[0].length == 0) { %>
                        <h1>No more spaces</h1>
                    <% } else { %>
                <div class="select-wrapper"><select id="select" name="level" required>
                        <% classes.forEach(function(item){ %>
                            <option value="<%= item.class_time %>"><%= item.class_name %></option>
                        <% }) %>
                </select>
                <% } %>
            <% } %>
                <% if (!classes[0]) { %>
                    <p>No remaining spaces. Check back as more spaces may be added.</p>
                <% } %>
            </div>
            <br>
            <div>
                <input type="submit" name="Submit" value="Sign Up"/>
            </div>
        </form>
    </body>
</html>