<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        html {
            background-image: linear-gradient(#0095ff, #9ed7ff);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        h1, h3 {
            text-align: center;
        }
        p {
            color: black;
            font-size: 14px;
        }
        li {
            font-size: 14px;
        }
        form > div {
            margin-bottom: 20px;
        }

        button, label, input, select {
            display: block;
            font-size: 100%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            height: 30px;
        }

        select {
            -webkit-appearance: none;
            appearance: none;
        }

        .select-wrapper {
            position: relative;
        }

        .select-wrapper::after {
            content: "▼";
            font-size: 1rem;
            top: 6px;
            right: 10px;
            position: absolute;
        }

        input[type="text"], select {
            box-shadow: inset 1px 1px 3px #ccc;
            border-radius: 5px;
        }

        label {
            margin-bottom: 5px;
        }

        button {
            width: 60%;
            margin: 0 auto;
        }
        label{
            font-weight: bold;
        }
        p {
            font-size: 16px;
        }
    </style>
    <head>
        <h1>Board Breaking Signup</h1>
        <h3>
            <ul style="text-align: center;">
                <li>$25 per person</li>
                <li>Bring a friend (non sibling) for <strong>FREE!!</strong></li>
                <li>5 boards per person are included</li>
                <li>Waiver must be signed for friend at the door</li>
            </ul>
        </h3>
    </head>
    <body>
        <p><strong>Board Breaking Workshop Times</strong></p>
        <ul>
            <% if ((classes[0]) && (classes[1])) { %>
                <li>Little Dragons / Basic / Level 1 &mdash; 5:00 PM (<%= 30 - classes[0].count %> spaces remaining)</li>
                <li>Level 1 / Level 2 / Level 3 / Black Belt &mdash; 7:00 PM (<%= 30 - classes[1].count %> spaces remaining)</li>
            <% } %>
            <% if ((classes[0]) && (!classes[1])) { %>
                <% if (classes[0].class_time == '5:00 PM') { %>
                    <li>Little Dragons / Basic / Level 1 &mdash; 5:00 PM (<%= 30 - classes[0].count %> spaces remaining)</li>
                    <li>Level 1 / Level 2 / Level 3 / Black Belt &mdash; 7:00 PM (0 spaces remaining)</li>
                <% } %>
                <% if (classes[0].class_time == '7:00 PM') { %>
                    <li>Little Dragons / Basic / Level 1 &mdash; 5:00 PM (0 spaces remaining)</li>
                    <li>Level 1 / Level 2 / Level 3 / Black Belt &mdash; 7:00 PM (<%= 30 - classes[0].count %> spaces remaining)</li>
                <% } %>
            <% } %>
            <% if ((!classes[0]) && (!classes[1])){ %>
                <li>Little Dragons / Basic / Level 1 &mdash; 5:00 PM (0 spaces remaining)</li>
                <li>Level 1 / Level 2 / Level 3 / Black Belt &mdash; 7:00 PM (0 spaces remaining)</li>
            <% } %>
        </ul>
        <br>
        <form action="/store/board_breaking_post" name="form" method="POST">
            <div>
                <label for="student">Student:</label>
                <input type="text" id="student" name="student" required placeholder="Student's name">
            </div>
            <br>
            <div>
                <label for="select">Select time:</label>
                <% if (classes[0]) { %>
                <div class="select-wrapper"><select id="select" name="level" required placeholder="Student's level">
                        <%= console.log(classes); %>
                        <% classes.forEach(function(item){ %>
                            <option value="<%= item.class_time %>"><%= item.class_time %> &mdash; <%= item.class_name %></option>
                        <% }) %>
                </select>
                <% } %>
                <% if (!classes[0]) { %>
                    <p>No remaining spaces. Check back as more spaces may be added.</p>
                <% } %>
            </div>
            <br>
            <div>
                <label for="buddy">Buddy:</label>
                <input type="text" id="buddy" name="buddy" placeholder="Leave blank if no buddy">
            </div>
            <br>
            <div>
                <input type="submit" name="Submit" value="Sign Up"/>
            </div>
        </form>
    </body>
</html>