<meta http-equiv="refresh" content="10">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Classes for <%= email %></title>
<html>
    <style>
        h1 {
            text-align: center;
            font-size: 16px;
        }
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        html {
            background-image: linear-gradient(#0095ff, #9ed7ff);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        #tests {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        #tests td, #tests th {
            border: 1px solid #ddd;
            padding: 8px;
            background-color: transparent;
            text-align: center;
        }
        #tests th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-blend-mode: hue;
        }
        button {
            width: 90%;
            margin: 0 auto;
            height: 40%;
        }
        a:link {
            color: white;
        }
        a:visited {
            color: white;
        }
        a:hover {
            color: white;
        }
        a:active {
            color: white;
        }
    </style>
    <head>
        <h1>Classes Associated with <%= email %></h1>
    </head>
    <body>
        <table id="tests">
            <tr>
                <th>Student Name</th>
                <th>Class Day/Time</th>
                <th>Drop Class</th>
            </tr>
            <% if (data) { %>
                <% data.forEach(function(item){ %>
                    <tr>
                        <td><%= item.first_name %> <%= item.last_name %></td>
                        <td><%= item.test_day_var %> at <%= item.test_time %></td>
                        <td><a href="https://emafiles.herokuapp.com/store/delete/<%= item.id %>/<%= item.id_from_other %>/<%= email %>">Drop This Class</a></td>
                    </tr>
                <% }) %>
            <% } %>
        </table>
        </div>
    </body>
</html>