<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (belt_group == 'Black Belt') { %>
        <meta http-equiv = "refresh" content = "10; url = https://emafiles.herokuapp.com/store/1degree_signup"/>
    <% } %>
    <% if (belt_group == 'Little Dragons') { %>
        <meta http-equiv = "refresh" content = "10; url = https://emafiles.herokuapp.com/store/dragons_signup"/>
    <% } %>
    <% if (belt_group == 'Basic') { %>
        <meta http-equiv = "refresh" content = "10; url = https://emafiles.herokuapp.com/store/basic_signup"/>
    <% } %>
    <% if (belt_group == 'Level 1') { %>
        <meta http-equiv = "refresh" content = "10; url = https://emafiles.herokuapp.com/store/level1_signup"/>
    <% } %>
    <% if (belt_group == 'Level 2') { %>
        <meta http-equiv = "refresh" content = "10; url = https://emafiles.herokuapp.com/store/level2_signup"/>
    <% } %>
    <% if (belt_group == 'Level 3') { %>
        <meta http-equiv = "refresh" content = "10; url = https://emafiles.herokuapp.com/store/level3_signup"/>
    <% } %>
    <% if (belt_group == 'Prep Cycle') { %>
        <meta http-equiv = "refresh" content = "10; url = https://emafiles.herokuapp.com/store/prep_signup"/>
    <% } %>
    <% if (belt_group == 'Weapons') { %>
        <meta http-equiv = "refresh" content = "10; url = https://emafiles.herokuapp.com/store/weapons_signup"/>
    <% } %>
    <% if (belt_group == 'Open Mat') { %>
        <meta http-equiv = "refresh" content = "10; url = https://emafiles.herokuapp.com/store/open_mat_signup"/>
    <% } %>
    <title>Classes Confirmed for <%= name %></title>
    <style>
        @media (prefers-color-scheme: light){
            * {
                box-sizing: border-box;
                font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            }
            body{
                font-family: -apple-system, BlinkMacSystemFont, sans-serif;
                background-color: white;
            }
            h2 {
                color: black;
            }
            p {
                color: black;
                text-emphasis: small;
            }
            #page-container {
                position: relative;
                min-height: 90vh;
            }

            #content-wrap {
                padding-bottom: 2.5rem;    /* Footer height */
            }

            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;            /* Footer height */
                color: black;
                background-color: white;
            }

            ul {
                color: black;
            }
        }
    </style>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <h2><%= name %> is signed up for the following classes: </h2>
                <ul>
                    <% if (data) { %>
                        <% data.forEach(function(item) { %>
                            <li><%= item.class_month %> <%= item.class_day %> at <%= item.test_time %></li>
                        <% }) %>
                    <% } %>
                </ul>
                <p style="text-emphasis: large;">If you need to take your name off of the list for any particular class, please use the tool on the app under the in-person class signup tab. You can lookup all of your classes using the email: <strong><%= email %></strong></p>
                <p>(This page will return to the class signup page in 10 seconds.)</p>
            </div>
        <footer id="footer">
            Intellectual property of Chandler de Spirlet.<br>
            Proof of concept and design provided by Matt Young.
        </footer>
    </div>    
    </body>
</html>