<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv = "refresh" content = "10; url = https://emafiles.herokuapp.com/store/1degree_signup"/>
    <style>
        @media (prefers-color-scheme: dark){
            body{
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            background-color: black;
            }
            h2 {
                color: white;
            }
            p {
                color: white;
                text-emphasis: small;
            }
            #page-container {
                position: relative;
                min-height: 90vh;
            }

            #content-wrap {
                padding-bottom: 2.5rem;    /* Footer height */
            }

            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;            /* Footer height */
                color: white;
                background-color: black;
            }
        }
        @media (prefers-color-scheme: light){
            body{
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            background-color: white;
            }
            h2 {
                color: black;
            }
            p {
                color: black;
                text-emphasis: small;
            }
            #page-container {
                position: relative;
                min-height: 90vh;
            }

            #content-wrap {
                padding-bottom: 2.5rem;    /* Footer height */
            }

            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;            /* Footer height */
                color: black;
                background-color: white;
            }
        }
        @media (prefers-color-scheme: no-preference){
            body{
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            background-color: white;
            }
            h2 {
                color: black;
            }
            p {
                color: black;
                text-emphasis: small;
            }
            #page-container {
                position: relative;
                min-height: 90vh;
            }

            #content-wrap {
                padding-bottom: 2.5rem;    /* Footer height */
            }

            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;            /* Footer height */
                color: black;
                background-color: white;
            }
        }
    </style>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <h2><%= stud_name %>, you are signed up for class on <%= month %> <%= day %> at <%= time %>. An email confirmation will be sent to <%= email %>.</h2>
                <p>(This page will return to the class signup page in 10 seconds.)</p>
            </div>
        <footer id="footer">
            Intellectual property of Chandler de Spirlet.<br>
            Proof of concept and design provided by Matt Young.
        </footer>
    </div>    
    </body>
</html>