<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Progress Check Month 2 &mdash; Preview</title>
<style>
    * {
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    html {
        min-height: 100%;
        background-image: linear-gradient(#0095ff, #9ed7ff);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #page-container {
        position: relative;
        min-height: 90vh;
    }
    #content-wrap {
        padding-bottom: 2.5rem;
    }
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
    }
    button, label, input, select {
        display: block;
        font-size: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 5px;
        height: 30px;
    }
    p {
        font-size: 16px;
    }
    h1 {
        text-align: center;
    }
    label {
        font-style: italic;
    }
</style>
<html>
    <head>
        <h1>Progress Check Preview - Month 2</h1>
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <h2>You have entered the following information</h2>
                <h3>Student Name: </h3><label><%= full_name %></label>
                <h3>Jumping Jacks: </h3><label><%= jj %></label>
                <h3>Push-ups: </h3><label><%= pu %></label>
                <h3>Sit-ups: </h3><label><%= mtn_cl %></label>
                <h3>Mountain Climbers: </h3><label><%= su %></label>
                <h3>Front Kicks: </h3><label><%= fk %></label>
                <br>
                <p>If this looks correct, click <i>Submit</i>, otherwise, click <i>Edit</i></p>
                <form action="/store/preview_month2a/<%= full_name %>/<%= jj %>/<%= pu %>/<%= su %>/<%= mtn_cl %>/<%= fk %>" method="post">
                    <input type="hidden" name="stud_name" value="<%= full_name %>"/>
                    <input type="hidden" name="jj" value="<%= jj %>"/>
                    <input type="hidden" name="pu" value="<%= pu %>"/>
                    <input type="hidden" name="su" value="<%= su %>"/>
                    <input type="hidden" name="mtn_cl" value="<%= mtn_cl %>"/>
                    <input type="hidden" name="fk" value="<%= fk %>"/>
                    <input type="submit" name="button" value="Submit"/>
                    <br>
                    <input type="submit" name="button" value="Edit"/>
                </form>
            </div>
            <footer id="footer">
                Intellectual property of Chandler de Spirlet.
            </footer>
        </div>
    </body>
</html>