<style>
    @media (prefers-color-scheme: dark){
        * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
        }
        h1 {
            color: blue;
            text-shadow: white 1px 1px 2px;
        }
        body{
            background-color: black;
        }
        label{
            color: white;
            font-size: 16px;
        }   
        [type=submit] {
            background-color: blue; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }
        h2 {
            color: blue;
        }
        h3 {
            color: blue;
            font-size: 18px;
            font-weight: bold;
        }
        p {
            color: white;
        }
        #page-container {
            position: relative;
            min-height: 90vh;
        }

        #content-wrap {
            padding-bottom: 2.5rem;    /* Footer height */
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem;            /* Footer height */
            color: white;
            background-color: black;
        }
    }
    @media (prefers-color-scheme: light){
        * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: white;
        }
        h1 {
            color: blue;
            text-shadow: black 1px 1px 2px;
        }
        body{
            background-color: white;
        }
        label{
            color: black;
            font-size: 16px;
        }   
        [type=submit] {
            background-color: blue; /* Green */
            border: none;
            color: black;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }
        h2 {
            color: blue;
        }
        h3 {
            color: blue;
            font-size: 18px;
            font-weight: bold;
        }
        p {
            color: black;
        }
        #page-container {
            position: relative;
            min-height: 90vh;
        }

        #content-wrap {
            padding-bottom: 2.5rem;    /* Footer height */
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem;            /* Footer height */
            color: black;
            background-color: white;
        }
    }
    @media (prefers-color-scheme: no-preference){
        * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: white;
        }
        h1 {
            color: blue;
            text-shadow: black 1px 1px 2px;
        }
        body{
            background-color: white;
        }
        label{
            color: black;
            font-size: 16px;
        }   
        [type=submit] {
            background-color: blue; /* Green */
            border: none;
            color: black;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }
        h2 {
            color: blue;
        }
        h3 {
            color: blue;
            font-size: 18px;
            font-weight: bold;
        }
        p {
            color: black;
        }
        #page-container {
            position: relative;
            min-height: 90vh;
        }

        #content-wrap {
            padding-bottom: 2.5rem;    /* Footer height */
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem;            /* Footer height */
            color: black;
            background-color: white;
        }
    }
</style>
<html>
    <head>
        <h1>Progress Check Preview - Month 2</h1>
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <h2>You have entered the following information</h2>
                <h3>Student Name: <label><%= full_name %></label></h3>
                <h3>Jumping Jacks: <label><%= jj %></label></h3>
                <h3>Push-ups: <label><%= pu %></label></h3>
                <h3>Sit-ups: <label><%= mtn_cl %></label></h3>
                <h3>Mountain Climbers: <label><%= su %></label></h3>
                <h3>Front Kicks: <label><%= fk %></label></h3>
                <br>
                <p>If this looks correct, click <i>Submit</i>, otherwise, click <i>Edit</i></p>
                <form action="/store/preview_month2a/<%= full_name %>/<%= jj %>/<%= pu %>/<%= su %>/<%= mtn_cl %>/<%= fk %>" method="post">
                    <input type="hidden" name="stud_name" value="<%= full_name %>"/>
                    <input type="hidden" name="jj" value="<%= jj %>"/>
                    <input type="hidden" name="pu" value="<%= pu %>"/>
                    <input type="hidden" name="su" value="<%= su %>"/>
                    <input type="hidden" name="mtn_cl" value="<%= mtn_cl %>"/>
                    <input type="hidden" name="fk" value="<%= fk %>"/>
                    <input type="submit" name="button" value="Submit"/>
                    <input type="submit" name="button" value="Edit"/>
                </form>
            </div>
            <footer id="footer">
                Intellectual property of Chandler de Spirlet.
            </footer>
        </div>
    </body>
</html>