<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }

        @media (prefers-color-scheme: dark) {
            input[type='first name'] {
            width: 130px;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        input[type='last name'] {
            width: 130px;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        input[type='text'] {
            width: 130px;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        input[type='number'] {
            width: 130px;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
            background-color: black;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        [type=submit] {
            background-color: blue; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }
        
        h1 {
            text-align: center;
            color: blue;
            background-color: black;
        }
        h4 {
            text-align: center;
            color: blue;
            background-color: black;
            font-size: 16px;
        }
        head {
            background-color: black;
        }
        label {
            color: white;
            font-size: 20px;
        }
        body {
            background-color: black;
        }
        #page-container {
            position: relative;
            min-height: 90vh;
        }

        #content-wrap {
            padding-bottom: 2.5rem;    /* Footer height */
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem;            /* Footer height */
            color: white;
            background-color: black;
        }
        }
        @media (prefers-color-scheme: light) {
            input[type='first name'] {
            width: 130px;
            box-sizing: border-box;
            border-radius: 4px;
            border-color: black;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            }
            input[type='last name'] {
                width: 130px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                border-color: black;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }
            input[type='text'] {
                width: 130px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                background-color: white;
                border-color: black;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }
            input[type='number'] {
                width: 130px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                background-color: white;
                border-color: black;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }
            /* Create two equal columns that floats next to each other */
            .column {
                float: left;
                width: 50%;
                padding: 10px;
                background-color: white;
            }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
            [type=submit] {
                background-color: blue; /* Green */
                border: none;
                color: black;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
            }
            
            h1 {
                text-align: center;
                color: blue;
                background-color: white;
            }
            h4 {
                text-align: center;
                color: blue;
                background-color: white;
                font-size: 16px;
            }
            head {
                background-color: white;
            }
            label {
                color: black;
                font-size: 20px;
            }
            body {
                background-color: white;
            }
            #page-container {
                position: relative;
                min-height: 90vh;
            }

            #content-wrap {
                padding-bottom: 2.5rem;    /* Footer height */
            }

            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;            /* Footer height */
                color: black;
                background-color: white;
            }
        }
        @media (prefers-color-scheme: no-preference){
            input[type='first name'] {
            width: 130px;
            box-sizing: border-box;
            border-radius: 4px;
            border-color: black;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            }
            input[type='last name'] {
                width: 130px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                border-color: black;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }
            input[type='text'] {
                width: 130px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                background-color: white;
                border-color: black;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }
            input[type='number'] {
                width: 130px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                background-color: white;
                border-color: black;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }
            /* Create two equal columns that floats next to each other */
            .column {
                float: left;
                width: 50%;
                padding: 10px;
                background-color: white;
            }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
            [type=submit] {
                background-color: blue; /* Green */
                border: none;
                color: black;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
            }
            
            h1 {
                text-align: center;
                color: blue;
                background-color: white;
            }
            h4 {
                text-align: center;
                color: blue;
                background-color: white;
                font-size: 16px;
            }
            head {
                background-color: white;
            }
            label {
                color: black;
                font-size: 20px;
            }
            body {
                background-color: white;
            }
            #page-container {
                position: relative;
                min-height: 90vh;
            }

            #content-wrap {
                padding-bottom: 2.5rem;    /* Footer height */
            }

            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;            /* Footer height */
                color: black;
                background-color: white;
            }
        }
    </style>
    <head>
        <h1>Student Progess Check Month 2</h1>
        <h4>Look for your name in the dropdown menu. If your name is not in the dropdown, enter your first and last name in the fields provided.</h4>
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <div class="row">
                    <form onsubmit="return ValidateForm()" name="Form" action="/store/student_progress_check_month2" method="post">
                        <label>Your Name: </label><select name="stud_name" id="dropdown">
                            <option value = "">Select Your Name from the List</option>
                            <% for (var i = 0; i < data.length; i++) { %>
                                <option value="<%= data[i].get_names %>"><%= data[i].get_names %></option>
                            <% } %>
                        </select><br>
                        <label>First and Last Name: </label><input type="name" name="full_name" id="full_name" value="<%= full_name %>"/><br>
                        <div class="column">
                            <label>Jumping Jacks: </label><input inputmode="numeric" type="number" name="jj" id="jj" pattern="\b[0-9]+\b" value="<%= jj %>"/><br>
                            <label>Sit-ups: </label><input inputmode="numeric" type="number" name="su" id="su" pattern="\b[0-9]+\b" value="<%= su %>"/><br>
                            <label>Front Kicks: </label><input inputmode="numeric" type="number" name="fk" id="fk" pattern="\b[0-9]+\b" value="<%= fk %>"/><br>
                            <input type="submit" name="Preview" value="Preview"/>
                        </div>
                        <div class="column">
                            <br>
                            <label>Push-ups: </label><input inputmode="numeric" type="number" name="pu" id="pu" pattern="\b[0-9]+\b" value="<%= pu %>"/><br>
                            <label>Mountain Climbers: </label><input inputmode="numeric" type="number" name="mtn_cl" id="mtn_cl" pattern="\b[0-9]+\b" value="<%= mtn_cl %>"/><br>
                        </div>
                    </form>
                </div>
            </div>
            <footer id="footer">
                Intellectual property of Chandler de Spirlet.
            </footer>
        </div>
    </body>
</html>
<script>
    var jj = document.getElementById('jj');
    var mtn_cl = document.getElementById('mtn_cl');
    var fk = document.getElementById('fk');
    var pu = document.getElementById('pu');
    var su = document.getElementById('su');
    jj.oninvalid = function(event){
        event.target.setCustomValidity('Jumping Jacks can only be numbers.');
    }
    fk.oninvalid = function(event){
        event.target.setCustomValidity('Front Kicks can only be numbers.');
    }
    su.oninvalid = function(event){
        event.target.setCustomValidity('Sit-ups can only be numbers.');
    }
    mtn_cl.oninvalid = function(event){
        event.target.setCustomValidity('Mountain Climbers can only be numbers.');
    }
    pu.oninvalid = function(event){
        event.target.setCustomValidity('Push-ups can only be numbers.');
    }

    function ValidateForm(){
        var fname = document.forms["Form"]["fname"].value;
        var lname = document.forms["Form"]["lname"].value;
        var stud_name = document.getElementById('stud_name');
        var jj = document.forms["Form"]["jj"].value;
        var pu = document.forms["Form"]["pu"].value;
        var su = document.forms["Form"]["su"].value;
        var mtn_cl = document.forms["Form"]["mtn_cl"].value;
        var fk = document.forms["Form"]["fk"].value;
        if (fname == null || fname == "" && stud_name == ""){
            alert("First Name is required or select your name from the dropdown menu.");
            return false;
        }
        if (lname == null || lname == "" && stud_name == ""){
            alert("Last Name is required or select your name from the dropdown menu.");
            return false;
        }
        if (jj == null || jj == ""){
            alert("Jumping Jacks are required and can only contain numbers.");
            return false;
        }
        if (pu == null || pu == ""){
            alert("Push-ups are required and can only contain numbers.");
            return false;
        }
        if (su == null || su == ""){
            alert("Sit-ups are required amd can only contain numbers.");
            return false;
        }
        if (mtn_cl == null || mtn_cl == ""){
            alert("Mountain Climbers are required amd can only contain numbers.");
            return false;
        }
        if (fk == null || fk == ""){
            alert("Front Kicks are required amd can only contain numbers.");
            return false;
        }
        return true;
    }
</script>
<script type="text/javascript">
    var mytextbox = document.getElementById('full_name');
    var mydropdown = document.getElementById('dropdown');

    mydropdown.onchange = function(){
        mytextbox.value = mytextbox.value  + this.value;
    }
</script>