<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        input[type='first name'] {
            width: 130px;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        input[type='last name'] {
            width: 130px;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        input[type='text'] {
            width: 130px;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        input[type='number'] {
            width: 130px;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        /* Create two equal columns that floats next to each other */
        .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 100%;
        background-color: black;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        [type=submit] {
            background-color: blue; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }
        
        h1 {
            text-align: center;
            color: blue;
            background-color: black;
        }
        head {
            background-color: black;
        }
        label {
            color: white;
        }
        body {
            background-color: black;
        }
    </style>
    <head>
        <h1>Student Progess Check</h1>
    </head>
    <body>
        <div class="row">
            <form onsubmit="ValidateForm()" name="Form" action="/store/student_progress_check" method="post">
                <div class="column">
                    <label>First Name: </label><input type="first name" name="fname" id="fname" pattern="[A-z]{1}[A-z ]+" title="First Name must only contain letters."value="<%= fname %>"><br>
                    <label>Jumping Jacks: </label><input inputmode="numeric" type="number" name="jj" id="jj" pattern="[0-9]+" value="<%= jj %>"/><br>
                    <label>Mountain Climbers: </label><input inputmode="numeric" type="number" name="mtn_cl" id="mtn_cl" pattern="\b[0-9]+\b" value="<%= mtn_cl %>"/><br>
                    <label>Front Kicks: </label><input inputmode="numeric" type="number" name="fk" id="fk" pattern="\b[0-9]+\b" value="<%= fk %>"/><br>
                    <input type="submit" name="Preview" value="Preview"/>
                </div>
                <div class="column">
                    <label>Last Name: </label><input type="last name" name="lname" id="lname"  pattern="\b[A-z]{1}[A-z ]+\b"value="<%= lname %>"/><br>
                    <label>Push-ups: </label><input inputmode="numeric" type="number" name="pu" id="pu" pattern="\b[0-9]+\b" value="<%= pu %>"/><br>
                    <label>Sit-ups: </label><input inputmode="numeric" type="number" name="su" id="su" pattern="\b[0-9]+\b" value="<%= su %>"/>
                </div>
            </form>
        </div>
    </body>
</html>
<script>
    var fname = document.getElementById('fname');
    var lname = document.getElementById('lname');
    var jj = document.getElementById('jj');
    var mtn_cl = document.getElementById('mtn_cl');
    var fk = document.getElementById('fk');
    var pu = document.getElementById('pu');
    var su = document.getElementById('su');
    fname.oninvalid = function(event) {
        event.target.setCustomValidity('Firstname should only include letters. e.g. Jonny');
    }
    lname.oninvalid = function(event) {
        event.target.setCustomValidity('Lastname should only include letters. e.g. Appleseed');
    }
    jj.oninvalid = function(event){
        event.target.setCustomValidity('Jumping Jacks can only be numbers.');
    }
    fk.oninvalid = function(event){
        event.target.setCustomValidity('Front Kicks can only be numbers.');
    }
    su.oninvalid = function(event){
        event.target.setCustomValidity('Sit-ups can only be numbers.');
    }
    mtn_cl.oninvalid = function(event){
        event.target.setCustomValidity('Mountain Climbers can only be numbers.');
    }
    pu.oninvalid = function(event){
        event.target.setCustomValidity('Push-ups can only be numbers.');
    }

    function ValidateForm(){
        var fname = document.forms["Form"]["fname"].value;
        var lname = document.forms["Form"]["lname"].value;
        var jj = document.forms["Form"]["jj"].value;
        var pu = document.forms["Form"]["pu"].value;
        var su = document.forms["Form"]["su"].value;
        var mtn_cl = document.forms["Form"]["mtn_cl"].value;
        var fk = document.forms["Form"]["fk"].value;
        if (fname == null || fname == ""){
            alert("First Name is required.");
            return false;
        }
        if (lname == null || lname == ""){
            alert("Last Name is required.");
            return false;
        }
        if (jj == null || jj == ""){
            alert("Jumping Jacks are required.");
            return false;
        }
        if (pu == null || pu == ""){
            alert("Push-ups are required.");
            return false;
        }
        if (su == null || su == ""){
            alert("Sit-ups are required.");
            return false;
        }
        if (mtn_cl == null || mtn_cl == ""){
            alert("Mountain Climbers are required.");
            return false;
        }
        if (fk == null || fk == ""){
            alert("Front Kicks are required.");
            return false;
        }
    }
</script>