<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<html>
    <title>Little Dragons Testing Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        html {
            background-image: linear-gradient(#0095ff, #9ed7ff);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        h1, h3 {
            text-align: center;
        }
        p {
            color: black;
            font-size: 14px;
        }
        li {
            font-size: 14px;
        }
        form > div {
            margin-bottom: 20px;
        }

        button, label, select {
            display: block;
            font-size: 100%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            height: 30px;
        }

        input[type="first name"], input[type="last name"], input[type="email"], input[type="submit"] {
            display: block;
            font-size: 100%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            height: 30px;
        }

        select {
            -webkit-appearance: none;
            appearance: none;
        }

        .select-wrapper {
            position: relative;
        }

        .select-wrapper::after {
            content: "▼";
            font-size: 1rem;
            top: 6px;
            right: 10px;
            position: absolute;
        }

        input[type="text"], select {
            box-shadow: inset 1px 1px 3px #ccc;
            border-radius: 5px;
        }

        label {
            margin-bottom: 5px;
        }

        button {
            width: 60%;
            margin: 0 auto;
        }
        label{
            font-weight: bold;
        }
        p {
            font-size: 16px;
        }
        .desc {
            font-size: 14px;
            display: inline;
            font-weight: normal;
        }
        .item {
            display: block; 
            padding: 5px;
        }
        input[type="radio"] {
            display: inline;
        }
    </style>
    <head>
        <h1>Lil' Dragons Belt Testing Signup</h1>
        <p>Lil' Dragons testing times are available at the school at the below times. There are only 20 spots available for each testing slot, so only testing times with available slots are shown.</p>
        <p>*If you are not comfortable with testing at the school, Virtual Testing will be held from June 24th through July 1st via Zoom. If you would like to schedule a Virtual Test, go to the EMA app and select&nbsp;<em>Testing Signup</em>, then select <em>Virtual Testing</em>.</p>
        <p><strong>LIL' DRAGONS TESTING TIMES</strong></p>
        <ul>
        <li>June 24
        <ul>
        <li>10:00 AM</li>
        <li>11:00 AM</li>
        <li>12:00 PM</li>
        <li>6:30 PM</li>
        </ul>
        </li>
        </ul>
    </head>
    <body>
        <form onsubmit="return ValidateForm()" name="Form" action="/store/testing_signup_dragons" method="POST">
            <div>
                <label for="fname">First Name: </label>
                <input type="first name" name="fname" id="fname" pattern="[A-z]{1}[A-z ]+" value="<%= fname %>">
            </div><br>
            <div>
                <label for="lname">Last Name: </label>
                <input type="last name" name="lname" id="lname" pattern="[A-z]{1}[A-z ]+" value="<%= lname %>">
            </div><br>
            <div>
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" pattern="[A-z0-9.]+[@][A-z0-9]{1,}[.]+[A-z]{2,}" value="<%= email %>">
            </div><br>
            <label>Belt Rank: </label>
            <div class="select-wrapper">
                <select name="belts" id="belts">
                    <option value="Dragon White">Dragons White Belt</option>
                    <option value="Dragon Gold">Dragons Gold Belt</option>
                    <option value="Dragon Orange">Dragons Orange Belt</option>
                    <option value="Dragon Green">Dragons Green Belt</option>
                    <option value="Dragon Purple">Dragons Purple Belt</option>
                    <option value="Dragon Blue">Dragons Blue Belt</option>
                    <option value="Dragon Red">Dragons Red Belt</option>
                    <option value="Dragon Brown">Dragons Brown Belt</option>
                </select>
            </div><br>
            <label>Testing Days and Times:</label><br>
            <% if (data) {%>
                <% data.forEach(function(item){ %>
                    <div class="item">
                        <input type="radio" id="<%= item.id %>" name="day_time" value="<%= item.id %> <%= item.month_name %> <%= item.day_number %> at <%= item.time_num %>"><%= item.month_name %> <%= item.day_number %> at <%= item.time_num %> (<%= 25 - item.count %> spot(s) remaining).
                    </div>
                <% }) %>
            <% } %>
            <input type="submit" name="Preview" value="Preview"/>
        </form>
    </body>
</html>
<script>
    function ValidateForm(){
        var fname = document.getElementById('fname');
        var lname = document.getElementById('lname');
        var email = document.getElementById('email');
        var rank = document.getElementById('belts');
        var day = document.getElementsByClassName('day_time');
        if (fname == null || fname == ""){
            alert("First name is required and must contain at least two letters.");
            return false;
        }
        if (lname == null || lname == ""){
            alert("Last name is required and must contain at least two letters.");
            return false;
        }
        if (email == null || email == ""){
            alert("An email is required. We use this in case we need to contact you.");
            return false;
        }
        if (rank == ""){
            alert("Please select a belt color.");
            return false;
        }
        if (day == null || day == ""){
            alert("Please select a day and time.");
            return false;
        }
        return true;
    }
</script>