<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Testing Preview</title>
<style>
    * {
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    html {
        background-image: linear-gradient(#0095ff, #9ed7ff);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    input[type="submit"] {
        display: block;
        font-size: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 70%;
        padding: 5px;
        height: 30px;
    }
</style>
<html>
    <head>
        <h1>Belt Testing Signup Preview</h1>
    </head>
    <body>
        <h2>You have entered the following information</h2>
        <h3>First Name: <label><%= fname %></label></h3>
        <h3>Last Name: <label><%= lname %></label></h3>
        <h3>Email: <label><%= email %></label></h3>
        <h3>Belt Rank: <label><%= belt %></label></h3>
        <h3>Date and Time: <label><%= month %> <%= day %> at <%= time %></label></h3>
        <br>
        <p>If this looks correct, click <i>Submit</i>, otherwise, click <i>Edit</i></p>
        <form action="/store/testing_preview/<%= fname %>/<%= lname %>/<%= email %>/<%= belt %>/<%= month %>/<%= day %>/<%= time %>/<%= belt_group %>/<%= id_from_other %>" method="post">
            <input type="hidden" name="fname" value="<%= fname %>"/>
            <input type="hidden" name="lname" value="<%= lname %>"/>
            <input type="hidden" name="email" value="<%= email %>"/>
            <input type="hidden" name="belt" value="<%= belt %>"/>
            <input type="hidden" name="month" value="<%= month %>"/>
            <input type="hidden" name="day" value="<%= day %>"/>
            <input type="hidden" name="time" value="<%= time %>"/>
            <input type="hidden" name="belt_group" value="<%= belt_group %>">
            <input type="hidden" name="id_from_other" value="<%= id_from_other %>">
            <input type="submit" name="button" value="Submit"/>
            <br>
            <input type="submit" name="button" value="Edit"/>
        </form>
    <footer id="footer">
        Intellectual property of Chandler de Spirlet.
    </footer>
    </body>
</html>