<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        @media (prefers-color-scheme: dark) {
            input[type='first name'] {
                width: 150px;
                box-sizing: border-box;
                border-radius: 4px;
                border-color: blue;
                font-size: 16px;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            input[type='last name'] {
                width: 150px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                border-color: blue;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            input[type='email'] {
                width: 220px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                border-color: blue;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            [type=submit] {
                background-color: blue; /* Green */
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
            }
            label {
                color: white;
                font-size: 20px;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            h1 {
                text-align: center;
                color: blue;
                background-color: black;
            }
            head {
                background-color: black;
            }
            body {
                background-color: black;
                font-size: 16px;
                color: white;
            }
            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;            /* Footer height */
                color: white;
                background-color: black;
            }
            #Instructor_Login {
                background-color: blue; /* Green */
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
                position: right;
            }
            p {
                color: white;
                font-size: 14px;
            }
            li {
                color: white;
                font-size: 14px;
            }
        }
        @media (prefers-color-scheme: light) {
            input[type='first name'] {
                width: 150px;
                box-sizing: border-box;
                border-radius: 4px;
                border-color: blue;
                font-size: 16px;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            input[type='last name'] {
                width: 150px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                border-color: blue;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            input[type='email'] {
                width: 220px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                border-color: blue;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            [type=submit] {
                background-color: blue; /* Green */
                border: none;
                color: black;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
            }
            label {
                color: balck;
                font-size: 20px;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            h1 {
                text-align: center;
                color: blue;
                background-color: white;
            }
            head {
                background-color: white;
            }
            body {
                background-color: white;
                font-size: 16px;
                color: black;
            }
            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;            /* Footer height */
                color: black;
                background-color: white;
            }
            #Instructor_Login {
                background-color: blue; /* Green */
                border: none;
                color: black;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
                position: right;
            }
            p {
                color: black;
                font-size: 14px;
            }
            li {
                color: black;
                font-size: 14px;
            }
        }
        @media (prefers-color-scheme: no-preference) {
            input[type='first name'] {
                width: 150px;
                box-sizing: border-box;
                border-radius: 4px;
                border-color: blue;
                font-size: 16px;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            input[type='last name'] {
                width: 150px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                border-color: blue;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            input[type='email'] {
                width: 220px;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                border-color: blue;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            [type=submit] {
                background-color: blue; /* Green */
                border: none;
                color: black;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
            }
            label {
                color: black;
                font-size: 20px;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            h1 {
                text-align: center;
                color: blue;
                background-color: white;
            }
            head {
                background-color: white;
            }
            body {
                background-color: white;
                font-size: 16px;
                color: black;
            }
            p {
                color: black;
                font-size: 14px;
            }
            li {
                color: black;
                font-size: 14px;
            }
        }
    </style>
    <head>
        <h1>Basics Belt Testing Signup</h1>
        <p>Basic testing times are available at the school at the below times. There are only 20 spots available for each testing slot, so only testing times with available slots are shown.</p>
        <p>*If you are not comfortable with testing at the school, Virtual Testing will be held from June 24th through July 1st via Zoom. If you would like to schedule a Virtual Test, go to the EMA app and select&nbsp;<em>Testing Signup</em>, then select <em>Virtual Testing</em>.</p>
        <p><strong>BASIC TESTING TIMES</strong></p>
        <ul>
        <li>June 25
        <ul>
        <li>10 AM</li>
        <li>11 AM</li>
        <li>12 PM</li>
        </ul>
        </li>
        <li>June 30
        <ul>
        <li>10 AM</li>
        </ul>
        </li>
        <li>July 1
        <ul>
        <li>10 AM</li>
        </ul>
        </li>
        </ul>
    </head>
    <body>
        <form onsubmit="return ValidateForm()" name="Form" action="/store/testing_signup_basic" method="POST">
            <label>First Name: </label><input type="first name" name="fname" id="fname" pattern="[A-z]{1}[A-z ]+" value="<%= fname %>"><br>
            <label>Last Name: </label><input type="last name" name="lname" id="lname" pattern="[A-z]{1}[A-z ]+" value="<%= lname %>"><br>
            <label>Email: </label><input type="email" name="email" id="email" pattern="[A-z0-9.]+[@][A-z0-9]{1,}[.]+[A-z]{2,}" value="<%= email %>"><br>
            <label>Belt Rank: </label>
                <select name="belts" id="belts">
                    <option value="white">White Belt</option>
                    <option value="gold">Gold Belt</option>
                </select><br>
            <label>Testing Days and Times:</label><br>
            <% if (data) {%>
                <% data.forEach(function(item){ %>
                    <pre>   <input type="radio" id="day_time" name="day_time" value="<%= item.month_name %> <%= item.day_number %> at <%= item.time_num %>"> <%= item.month_name %> <%= item.day_number %> at <%= item.time_num %> (<%= 20 - item.count %> spot(s) remaining).</pre>
                <% }) %>
            <% } %>
            <input type="submit" name="Preview" value="Preview"/>
        </form>
    </body>
</html>
<script>
    function ValidateForm(){
        var fname = document.getElementById('fname');
        var lname = document.getElementById('lname');
        var email = document.getElementById('email');
        var rank = document.getElementById('belts');
        var day = document.getElementById('day_time');
        if (fname == null || fname == ""){
            alert("First name is required and must contain at least two letters.");
            return false;
        }
        if (lname == null || lname == ""){
            alert("Last name is required and must contain at least two letters.");
            return false;
        }
        if (email == null || email == ""){
            alert("An email is required. We use this in case we need to contact you.");
            return false;
        }
        if (rank == ""){
            alert("Please select a belt color.");
            return false;
        }
        if (day == null || day == ""){
            alert("Please select a day and time.");
            return false;
        }
        return true;
    }
</script>