<meta http-equiv="refresh" content="10">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <style>
        h1 {
            text-align: center;
        }
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        html {
            background-image: linear-gradient(#0095ff, #9ed7ff);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        #tests {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        #tests td, #tests th {
            border: 1px solid #ddd;
            padding: 8px;
            background-color: transparent;
            text-align: center;
        }
        #tests th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-blend-mode: hue;
        }
        button {
            width: 40%;
            margin: 0 auto;
        }
    </style>
    <head>
        <h1>Tests Associated with <%= email %></h1>
    </head>
    <body>
        <table id="tests">
            <tr>
                <th>Student Name</th>
                <th>Test Day/Time</th>
                <th>Drop Test</th>
            </tr>
            <% if (data) { %>
                <% data.forEach(function(item){ %>
                    <tr>
                        <td><%= item.first_name %> <%= item.last_name %></td>
                        <td><%= item.test_day_var %> at <%= item.test_time %></td>
                        <td><button><a href="https://emafiles.herokuapp.com/store/delete_test/<%= item.id %>/<%= item.id_from_other %>/<%= email %>">Drop This Test</a></button></td>
                    </tr>
                <% }) %>
            <% } %>          
        </table>
    </body>
    <footer id="footer">
        Intellectual property of Chandler de Spirlet.<br>
        Proof of concept and design provided by Matt Young.
    </footer>
</html>