<html>
    <style>
        * {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            background-color: black;
        }
        table{
            background-color: black;
            width: 90%;
            align-content: center;
        }
        th, h1 {
            color: blue;
        }
        td {
            color: white;
        }
        .content {
            border: 1px grey;
        }
        @media (min-width: 300px) {
        th {
            /* Since color is in min-width: 300px it will follow all the other sizes upwards */
            padding-top: 5px;
            padding-bottom: 5px;
        }
        th,td {
            width: calc(598px /7);
            text-align: center;
            padding-top: 5px; 
            padding-bottom: 5px;
        }
        th:first-child {
            padding-left: 30px;
            padding-right: 25px;
        }
    }
    @media (min-width: 600px) {
        th, td {
            width: calc(768px / 7);
        }
    }

    @media (min-width: 768px) {
        th,td {
            width: calc(768px / 7);
        }
    }
    @media (min-width: 768.02px) {
        th, td {
            width: calc(1024px / 7);
        }
    }
    @media (min-width: 1024px) {
        th,td {
            width: calc(1024px / 7);
        }
    }
    @media (min-width: 1024.02px) {
        th, td {
            width: calc(1200px / 7);
        }
    }
    @media (min-width: 1200px) {
        th,td {
            width: calc(1600px / 7);
        }
    }
    @media (min-width: 1600.02px) {
        th, td {
            width: calc(2000px / 7);
            /* Simple hack for screen larger than 1600 pixels but smaller than 2000 */
        }
    }
    @media (min-width: 2000.02px) {
        th, td {
            width: calc(2400px / 7);
        }
}
    </style>
    <head>
        <h1>Student Progress Check Scores</h1>
    </head>
    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Jumping Jacks</th>
                <th>Pushups</th>
                <th>Situps</th>
                <th>Mountain Climbers</th>
                <th>Front Kicks</th>
            </tr>
        </table>
        <table class="content">
            <% if (data) { %>
                <!-- Using a for-loop to loop over each row in the database.
                The 'data' variable is passed from the store.js during the response.render function call -->
                    <% data.forEach(function(item){ %>
                        <tr>
                            <td><%= item.id %></td>
                            <td><%= item.student_name %></td>
                            <td><%= item.jumping_jacks %></td>
                            <td><%= item.pushups %></td>
                            <td><%= item.situps %></td>
                            <td><%= item.mtn_climbers %></td>
                            <td><%= item.front_kicks %></td>
                        </tr>
                    <% }) %>
                <% } %>
        </table>
    </body>
</html>